<form #userForm="ngForm">
  {{userForm.value | json}}
  <div class="form-group">
    <label>First name</label>
    <input #firstName="ngModel" class="form-control" required name="firstName" [(ngModel)]="user.firstName">
    <small *ngIf="firstName.invalid && firstName.touched" class="text-danger">Name is required</small>    
  </div>
  <div class="form-group">
    <label>Last name</label>
    <input class="form-control" name="lastName" [(ngModel)]="user.lastName">
  </div>
  <div class="form-group">
    <label>Phone number</label>
    <input class="form-control" type="number" name="phoneNumber" [(ngModel)]="user.phoneNumber">
  </div>
<button class="btn btn-primary">Submit</button>
</form>
